body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #d7eefd;
}
h1 {
  color: #f88379;
  font-weight: 800;
  text-align: center;
}

h2 {
  color: #345355;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: #345355;
  font-weight: 600;
  text-align: center;
}
p {
  color: #345355;
  text-align: center;
}
.explain {
  color: #556b2f;
  text-align: center;
}
.main {
  table-layout: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #addcdf;
  padding: 10px;
}

.first {
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: text-top;
}

.topfirst {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: text-top;
}

.innertable {
  table-layout: fixed;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.85em;
}

.innertable th {
  table-layout: fixed;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

th {
  color: #345355;
  text-align: center;
}
td {
  color: #345355;
  text-align: center;
}

tfoot {
  width: 100%;
}

.top {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.elementhead {
  color: #f88379;
}

.results {
  table-layout: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #f0f2f0;
  background-color: #ffffff;
}

button {
  display: inline-block;
  margin: 2px;
}

.buttongroup {
  text-align: center;
}

@media (max-width: 1100px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

  td {
    display: block;
  }

  table {
    border-spacing: 0;
    width: 100%;
  }
  .top,
  .topfirst,
  .innertable {
    width: 100%;
    text-align: center;
  }

  .innertable td {
    display: inline-block;
    float: left;
    padding-left: 10px;
    text-align: left;
  }

  .innertable th {
    width: 50%;
  }

  .first {
    width: 90%;
  }

  .results {
    margin-top: 20px;
  }
}
